<div class="page-header">
  <h1><%= "#{@user.username}'s Profile" %> </h1>


  <p>
  <%if current_user.id == @user.id %>
    <%= link_to "Click to Edit Profile", edit_user_path %>
  <%end%>
  </p>

  </div>


<p class="pull-right"><%= gravatar_for @user %></p>

<strong>Email: </strong>
<ul>
  <li><%= @user.email%></li>
</ul>

<strong>Games Played:</strong>
<ul>
  <% if @games.blank? %>
    <li> No games played! </li>
  <% else %>
    <%@games.each do |game| %>
      <li><%= link_to game.title, game %></li>
    <%end%>
  <%end%>
</ul>

<strong>Games Liked:</strong>
<ul>
  <% if @fav.blank? %>
    <li> No games liked! </li>
  <% else %>
    <%@fav.each do |liked| %>
      <li><%= link_to @g.find_by_id(liked.game_id).title, @g.find_by_id(liked.game_id) %></li>
    <%end%>
  <%end%>
</ul>
