<div class="page-header">
<h1><%= @game.title %></h1>
  <%= render 'shared/error_messages', :target =>  @game %>

  <%= render 'favorites/like_button' %>
 
</div>

<ul>
  <li><strong>White Player: </strong><%= link_to @white.username, @white %></li>
  <li><strong>Black Player: </strong><%= link_to @black.username, @black %></li>
</ul>

<h2>Game Board</h2>

<%= render 'games/board' %>

<h2>Comments</h2>

<%= render 'comments/show_all' %>

<h3>Leave a Comment</h3>

<%= render 'comments/create' %>
