<footer class="footer">
<div class="container">
  <p class="pull-right">
  <a href="#">Back to top</a>
  </p>
  <p>	
  <%= link_to "About", about_path %> - 
  <%= link_to "Help", 	'https://github.com/aninimus/boardcaster/blob/master/README.md' %> - 
  <%= link_to "Contact", contact_path %> - 
  <%= link_to "Source Code (Website)", 'https://github.com/aninimus/boardcaster' %> -
  <%= link_to "Source Code (Firmware) & Schematics", 'https://bitbucket.org/xerces/boardcaster/src' %> -
  <%= link_to "Blog" , "http://blogs.uprm.edu/boardcaster/" %>
  <%= render 'layouts/social_networks' %>
  </p>

  <p class="pull-right">
  <a rel="license" href="http://creativecommons.org/licenses/by/3.0/pr/"><img alt="Licencia Creative Commons" src="http://i.creativecommons.org/l/by/3.0/pr/88x31.png" /></a>
  </p>

</div>
</footer>

<!-- &copy; ACM5PT 2011: Carlos Andreu, Richard Kaufman, Gabriel Perez, Daniel Gonzalez, Francisco De La Cruz -->
