<div class="topbar" >
  <div class="topbar-inner">
    <div class="container">
	  <%= link_to 'Boardcasting', root_path, :class=>'brand' %>
      <ul class="nav">
		<li <%= check_active("home") %> ><%= link_to 'Home', root_path %></li>
	    <li <%= check_active("about") %> ><%= link_to "About", about_path %></li>
        <li <%= check_active("help") %> ><%= link_to "Help", help_path %></li>
        <li <%= check_active("contact") %> ><%= link_to "Contact", contact_path %></li>
      </ul>
	 <form class="pull-right" action="">
		<input type="text" placeholder="Search" />
	 </form>
    </div>
  </div>
</div>