<div class="topbar" >
  <div class="topbar-inner">
    <div class="container">
	  <%= link_to 'Boardcaster', root_path, :class=>'brand' %>
      <ul class="nav">
		<%= navigation("home", 		root_path) %>
		<%= navigation("about", 	about_path) %>
		<%= navigation("help", 		help_path) %>
		<%= navigation("contact", 	contact_path) %>
      </ul>
	 <form class="pull-right" action="">
		<input type="text" placeholder="Search" />
	 </form>
    </div>
  </div>
</div>